<?xml version='1.0' encoding='utf-8'?>
<widget id="com.OstaMedia" version="1.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>
OstaMedia  </name>
  <description>
تسويق إلتكروني ، تصميم أنيميشن   </description>
  <author email="hasangad.com@gmail.com" href="https://OstaMedia.com/">
    Gadency Team
  </author>
  <preference name="BackgroundColor" value="#ffffff"/>
  <preference name="fullscreen" value="true"/>
  <preference name="StatusBarOverlaysWebView" value="true"/>
<preference name="phonegap-version" value="cli-8.0.0"/>
  <preference name="pgb-builder-version" value='2'/>
  <preference name="android-targetSdkVersion" value="28"/>
  <preference name="permissions" value="none"/>
  <preference name="orientation" value="portrait"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="target-device" value="universal"/>
  <preference name="webviewbounce" value="true"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="true"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-installLocation" value="auto"/>
  <plugin name="cordova-plugin-device"/>
  <plugin name="cordova-plugin-inappbrowser"/>
  <plugin name="cordova-plugin-dialogs"/>
  <plugin name="cordova-plugin-network-information"/>
  <plugin name="cordova-plugin-statusbar"/>
  <preference name="StatusBarBackgroundColor" value="#ffffff"/>
  <icon src="www/icon.png"/>
  <icon gap:platform="android" src="www/icon.png"/>
  <plugin name="cordova-plugin-whitelist"/>
  <platform name="android">
    <splash qualifier="ldpi" src="www/images/splash.png"/>
    <splash qualifier="mdpi" src="www/images/splash.png"/>
    <splash qualifier="hdpi" src="www/images/splash.png"/>
    <splash qualifier="xhdpi" src="www/images/splash.png"/>
    <splash qualifier="fr-xhdpi" src="www/images/splash.png"/>
    <splash qualifier="port-xxhdpi" src="www/images/splash.png"/>
    <splash qualifier="land-xxhdpi" src="www/images/splash.png"/>
    <preference name="SplashScreen" value="screen"/>
  </platform>
  
  <access origin="*"/>
  <access origin="https://www.ostamedia.com*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
</widget>
