/*body { background:#f8f8f8 url(images/logo-2.jpg) top center no-repeat; padding-top:120px; background-size:contain; }*/
@import url("http://fonts.googleapis.com/earlyaccess/droidarabickufi.css");

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Droid Arabic Kufi", tahoma;
  font-weight: 700;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: large;
}

h3 {
  font-size: medium;
}

h4 {
  font-size: medium;
}

h5 {
  font-size: small;
}

h6 {
  font-size: smaller;
}

p {
  font-family: "Droid Arabic Naskh", tahoma;
  font-size: small;
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  margin-bottom: constant(safe-area-inset-bottom);
  margin-bottom: env(safe-area-inset-bottom);
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}

.NotifyBellMenu {
  position: absolute;
  top: 15vh;
  left: 5px;
  right: 5px;
  bottom: 20vh;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 4px;
  background: #ffffff;
  padding: 5px;
  height: max-content;
  max-height: 50vh;
  border: 1px solid #f0f0f0;
  box-shadow: #cccccc 0px 2px 4px 0px;
}
.NotifyBellMenu a {
  display: block;
  border-bottom: 1px solid #ccc;
  font-size: 0.6em;
  font-weight: 400;
  padding: 10px 0;
  color: #666666;
}
.authors_table a {
  font-weight: 400;
  font-size: 0.8em;
}

.authors_table tr:active {
  background: #007bff !important;
}

.authors_table tr:active a {
  color: #ffffff !important;
}

.new {
}

.authors_table .btn {
  font-size: 0.7em;
}

.authors_table th {
  font-family: Droid Arabic Kufi;
  white-space: nowrap;
  font-size: 0.8em;
}

.tickets {
  height: 77vh;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 3vh;
}

.ticket_link {
  font-weight: 400;
}

.main_menu {
  display: table;
  margin: 5px auto;
}

.preloader {
  display: block;
  background: #ffffff url(../images/loading.gif) center center no-repeat;
  background-size: 35% 20%;
  z-index: 99999999;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.8;
}

.splash {
  display: block;
  background: #ffffff url(../images/splash.jpg) center center no-repeat;
  background-size: 100% 100%;
  z-index: 999;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
}

.skip_to_home {
  position: absolute;
  left: 35%;
  width: 30%;
  color: #ffffff !important;
  bottom: 10%;
  z-index: 99;
}

.check_interent {
  position: absolute;
  left: 20%;
  width: 60%;
  color: #ffffff !important;
  bottom: 10%;
  z-index: 99;
}

.login_form {
  margin-top: 70px;
}

.alert {
  border-radius: 25px;
  overflow: hidden;
}

.btn-primary,
.btn-danger {
  color: #ffffff !important;
}

.main_menu {
  position: fixed;
  top: 0;
  left: -80%;
  /* bottom: 0; */
  width: 60%;
  z-index: 997;
  background: #ffffff;
  height: auto;
  margin-top: 35%;
  border-radius: 5px;
  zoom: 0.7;
  padding: 0 12px;
  box-shadow: #ccc 0px 8px 15px 0px;
  border: 1px solid #81818269;
}

.main_menu a {
  display: block;
  width: 100%;
  clear: both;
  margin: 15px 0;
  zoom: 0.9;
  overflow: hidden;
}

form a,
.login_form a,
.check_ticket_by_number a {
  font-weight: 400;
  color: #666666;
  display: block;
  clear: both;
  padding: 15px 8px;
  font-size: 14px;
  text-decoration: underline;
}

.main_menu a.active {
}

.t_id {
  margin: 45px 0;
}

.main_menu a i {
  float: right;
  font-size: 1.7em;
  font-weight: 400;
  width: 32px;
  text-align: center;
  margin: 7px auto;
}

.main_menu a i:active {
  color: #ffbd54;
}

.main_menu a span {
  float: right;
  white-space: nowrap;
  font-family: "Droid Arabic Kufi", tahoma;
  padding: 11px;
}

/* RTL JQUERY MOBILE  */
.ui-btn-icon-right:after {
  left: 0.5625em !important;
  right: auto;
}

.ui-btn-icon-right {
  padding-left: 2.5em;
  padding-right: 1.5em;
}

.ui-btn-icon-left:after,
.ui-btn-icon-right:after,
.ui-btn-icon-top:after,
.ui-btn-icon-bottom:after,
.ui-btn-icon-notext:after {
  width: 48px;
  height: 48px;
}

.posts h2 {
  line-height: 200%;
  display: block;
  clear: both;
  margin: 22px 5px;
  color: #555;
}

.comment h2 {
  line-height: 200%;
  margin: 0px 5px;
  font-size: smaller;
}

.posts .comment {
  background: #fafff9;
  padding: 14px;
  border-radius: 15px;
  margin: 10px 0;
  border: 1px solid #79ca65;
}

.main_ticket {
  border: 1px solid;
  margin-bottom: 20px;
  border-radius: 6px;
  padding: 10px;
  background: #ffffff;
  overflow: hidden;
}

.main_ticket,
.posts .comment,
.main_ticket p,
.posts .comment p {
  font-size: 0.9em;
  font-family: Droid Arabic Kufi;
  line-height: 2;
}

.posts .comment:nth-child(even) {
  /*background: #f9f9f9;*/
}

#logout {
  background: red;
}

.ui-page-theme-a .ui-btn {
  background-color: transparent;
  border: none;
  text-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.ui-icon-bars:after {
  background-position: center;
  background-size: 30px;
  /*background-size: 24px 24px;*/
}

.ui-btn-icon-left:after,
.ui-btn-icon-right:after,
.ui-btn-icon-top:after,
.ui-btn-icon-bottom:after,
.ui-btn-icon-notext:after {
  -webkit-border-radius: 0em;
  border-radius: 0em;
}

.ui-page-theme-a .ui-btn:active,
.ui-page-theme-a .ui-btn:hover {
  background-color: inherit;
  border: none;
  box-shadow: none;
  color: inherit;
  text-shadow: none;
}

.ui-btn-icon-notext:after,
.ui-btn-icon-top:after,
.ui-btn-icon-bottom:after {
  left: 3% !important;
  margin-left: -3px !important;
}

.ui-btn-icon-notext:after,
.ui-btn-icon-left:after,
.ui-btn-icon-right:after {
  top: 27% !important;
  margin-top: -11px !important;
}

.header .ui-btn {
  width: 48px !important;
  height: 48px !important;
}

/*---End of rtl jquery mobile ---*/
/*table, th, td {
  border: 1px solid #cccccc !important;
}*/
body,
#main_page,
.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
}

.u_comment {
  border: 1px dashed #ff9800 !important;
  border-radius: 5px !important;
  margin-top: 15px;
  background: #fff5e6;
  box-shadow: inset #ffbd54 3px 3px 15px 0px;
  font-size: 1.5em;
  color: #946416;
}

.cars_list {
  display: block;
  overflow: hidden;
}

.about {
  margin-top: 5%;
}

.about h1 {
  margin-bottom: 15px;
  font-size: 1.5em;
}

.h2 {
  font-size: 1.5em;
  margin: 25px 0 !important;
}

.madad_body {
}

.header {
  background-color: #ffbd54 !important;
  height: 15%;
  padding-top: 13%;
  margin-bottom: 50px;
  z-index: 997;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

#main_page {
  padding-top: 14vh;
  height: 86vh;
  position: relative;
}

#menu {
  background-color: #96641d;
  direction: rtl;
  text-align: right;
  opacity: 0.95;
  position: fixed;
  height: 100vh;
}

#menu .ui-panel-inner-top-HG {
  background: #7b4f10 url("../images/logo.png") center center no-repeat;
  background-size: contain;
  text-shadow: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25vh;
}

#menu .ui-panel-inner h3 {
  color: #ffffff;
  margin-bottom: 2em;
}

#menu .ui-listview {
  margin-top: 22vh;
}

#menu .ui-listview li a {
  text-align: right;
  color: #ffffff;
  line-height: 200%;
  font-family: "Droid Arabic Kufi", tahoma;
  font-weight: 400;
}

#menu .ui-listview li a:active {
  color: #da8e0b;
}

.header .bars_icon {
  margin-top: 14px;
}

.MenuBurger {
  float: left;
  margin-left: 1%;
  margin-top: 3.3%;
  font-size: 1.7em;
  background: #ffffff;
  padding: 7px 10px;
  z-index: 998;
  zoom: 0.8;
  border-radius: 4px;
}

.MenuBurger i {
  display: block;
}

.hidden {
  display: none;
}

.logo {
  max-width: 20%;
  float: right;
  margin: -5px -5px;
  text-align: center;
}

.NotifyBell {
  float: right;
  margin: 3px 1px 0 0;
  padding: 5px;
  zoom: 1.3;
}

.NotifyBell:active .badge {
  background: #ffffff;
  color: red;
}

.NotifyBell span.badge {
  padding-top: 5px;
  padding-bottom: 5px;
}

.login_success {
  float: right;
  width: 54%;
  padding: 5px;
  font-weight: 700;
  background: #d89934;
  border-radius: 2px;
  margin-top: 3%;
  margin-right: 10px;
  color: #ffffff;
}

.post_area {
  background-color: #ffffff;
  border-radius: 0px;
  padding: 10px;
  margin-bottom: 0px;
  width: 50%;
  height: 270px;
  overflow: hidden;
  border-bottom: 1px solid #f0f0f0;
}

.post_area:nth-child(odd) {
  border-left: 1px solid #f0f0f0;
}

.post_area .p_content {
  line-height: 230%;
}

.post_area img {
  width: 100%;
  height: 130px;
  border-bottom: 1px solid #f0f0f0;
}

.post_area a {
  text-decoration: none;
  overflow: hidden;
  display: block;
}

.post_area h2 {
  font-size: 16px;
  text-decoration: none;
  color: #555555;
}

.post_area span {
  font-size: 12px;
  color: #999999;
  font-weight: 400;
}

.posts {
  padding: 1% 1% 10% 1%;
  overflow: hidden;
}

.hr {
  margin-bottom: 15px;
  display: block;
  overflow: hidden;
  width: 100%;
  clear: both;
}

.madad_body {
  margin-top: 40px;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.toggle {
  z-index: 9999999999999999999;
  cursor: pointer;
}

#sidebar {
  z-index: 9999999999999999999;
  overflow: hidden;
  background: #fc0;
  /*background: -moz-linear-gradient(left, #f9f9f9 0%, #ededed 100%);
background: -webkit-linear-gradient(left, #f9f9f9 0%,#ededed 100%);
background: linear-gradient(to right, #f9f9f9 0%,#ededed 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ededed',GradientType=1 );*/
}

#sidebar ul {
  list-style: none;
  margin-top: 30px;
}

#sidebar ul li a {
  display: block;
  font-weight: bold;
  font-size: medium;
  color: #111111;
  font-family: "Droid Arabic Kufi", tahoma;
  padding: 25px 5%;
  border-bottom: #954a00 1px solid;
}

.home-icons {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #f4f4f4;
  width: 100%;
  z-index: 99;
  border-top: 1px solid #c5c5c5;
}

.home-icons a:last-child {
  border-left: none;
}

.home-icons a span {
  text-align: center;
}

.home-icons a i {
  width: 100%;
  display: block;
  padding: 0;
  color: #888888;
  margin: 8px 0;
  font-size: 36px;
}

.home-icons a p {
  display: block;
  width: 100%;
  padding: 5px 0;
  color: #888888;
  font-size: small;
  white-space: nowrap;
  font-weight: 400;
  font-family: "Droid Arabic Kufi", tahoma;
  text-align: center;
}

label {
  font-weight: 400;
}

.home-icons a.active i {
  color: #fc0;
}

.home-icons a.active i,
.home-icons a.active p {
  color: #75ad2b;
}

.home-icons a:active {
  background: #fc0;
}

.home-icons a:active i,
.home-icons a:active p {
  color: #000000;
}

.car-item {
  /*background: #f9f9f9;
background: -moz-linear-gradient(top, #f9f9f9 0%, #ededed 100%);
background: -webkit-linear-gradient(top, #f9f9f9 0%,#ededed 100%);
background: linear-gradient(to bottom, #f9f9f9 0%,#ededed 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ededed',GradientType=0 );
border-bottom:1px dashed #999;*/
  padding: 20px;
}

iframe {
  background: #f0f0f0;
}

.about h4 {
  font-size: large;
}

.about p {
  font-size: 1em;
  line-height: 190%;
}

.car-item ul {
  list-style: none;
}

.car-item li {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.car-item h3 {
  font-size: large;
}

.btn {
  font-size: 1em;
  font-family: "Droid Arabic Kufi", tahoma;
  border-radius: 3px;
}

form label {
  font-size: medium;
  font-family: "Droid Arabic Kufi", tahoma;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.form-control {
  border-radius: 0px;
  font-size: medium;
  /* padding: 10px; */
  font-family: "Droid Arabic Kufi", tahoma;
  height: auto;
  margin-bottom: 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ffbd54;
}

iframe {
  background: #ccc url(../images/ellipsis.gif) center center no-repeat;
}

.contact h2 {
  font-size: 14px;
  white-space: nowrap;
}

.contact h3 {
  font-size: 12px;
  font-weight: normal;
  white-space: nowrap;
}

.map_me {
  display: block;
  margin-top: 15px;
  width: 100%;
  padding: 10px 5px;
  font-size: 12px;
  text-align: center;
  font-weight: 700;
  background: #090;
  color: #ffffff;
}

.map_me:active {
  background: #fc0;
  text-decoration: none;
}

.map_me i {
  margin-left: 6px;
}

@media screen and (min-width: 750px) {
  .main {
    zoom: 2;
  }
}
